@import url('https://fonts.googleapis.com/css2?family=Anton&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Ma+Shan+Zheng&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #050A2C;
  font-family: 'Chakra Petch', sans-serif;
  width: 100%;
  max-width: 800px;
  height: 100%;
  max-height: 1024px;
  padding-top: 0;
  overflow-x: hidden;
  user-select: none;
}

/* Log-in Screen*/
.login-container {  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  height: 100%;
  width: 100%;
  max-width: 800px;
  background-color: #050A2C;
}

.login-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form h3 {
  color: var(--color-txt);
  font-size: 32px;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 400;
  margin: 0;
}

.login-form h1 {
  font-family: 'Anton', sans-serif;
  font-size: 64px;
  font-weight: 500;
  color: var(--yellow);
}

input.pass-input {
  width: 250px;
  height: 50px;
  padding: 10px 0;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 400;
  color: var(--yellow);
  font-family: 'Chakra Petch', sans-serif;
  text-align: center;
  outline: none;
  border: 2px solid #ffd700;
  background-color: var(--bg-color);
  margin-top: 20px;
  margin-bottom: 20px;
}

#error-message {
  color: var(--red);
}

.login {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

button.login {
  outline: none;
  border: 5px solid #ffd700;
  background-color: #ffd700;
  width: 520px;
  height: 90px;
  padding: 20px 0;
  border-radius: 30px;
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  color: #050A2C;
  font-family: 'Chakra Petch', sans-serif;
}

.login-container p {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.img-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.img-container img {
  position: relative;
  display: block;
  top: 0;
  margin-top: 0;
  width: 250px;
  height: 392px;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;

  margin-top: 25px;
}

.text h3 {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: #fff;

  margin: 0;
}

.text h1 {
  font-family: 'Anton', sans-serif;
  font-size: 64px;
  font-weight: 500;
  color: #ffd700;
}

.text h2 {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #ffd700;
}

.start-btn {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.start-btn button {
  outline: none;
  border: 5px solid #ffd700;
  background-color: #ffd700;
  width: 520px;
  height: 90px;
  padding: 20px 0;
  border-radius: 30px;
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  color: #050A2C;
  font-family: 'Chakra Petch', sans-serif;
}

.start-btn button:hover {
  background-color: #fe0000;
  border: 5px solid #ffd700;
  color: #ffd700;
  box-shadow: 0 0 20px #fe0000;
  transition: all 0.3s ease-in-out;
}

#start-page p {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

/*Navigation bar*/
.navigation-bar {
  position: fixed;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 470px;
  height: 70px;
  border-radius: 40px;
  background-color: #FE0000;
  color: #050A2C;

  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 30px;
  z-index: 1000;
}

.spider {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FFD700;
  box-shadow: 0 0 8px #FFD700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.nav-menu ul li {
  list-style: none;
}

.nav-menu li button {
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: inherit;
  text-decoration: none;

  padding: 4px 10px;
  border-radius: 5px;
  display: inline-block;

  background: none;
  border: none;
  outline: none;
}

.nav-menu button {
  background: none;
  border: none;
  outline: none;
}

.nav-menu li button:hover,
.nav-menu li button.active {
  color: #FFD700;
  border-bottom: 4px solid #FFD700;
  font-weight: 500;
  text-shadow: 0 0 8px #FFD700;
  box-shadow: 0 7px 10px -5px #FFD700;
  transition: all 0.2s ease-in-out;
}

/*Dashboard*/
.greeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 150px;
  margin-left: 45px;
  margin-bottom: 40px;
}

.greeting h1 {
  font-size: 36px;
  font-weight: 700;
  color: #ffd700;
}

.greeting h2 {
  font-size: 32px;
  font-weight: 300;
  color: #e4e4e4;
}

.date-card-container {
  background-color: #1A2254;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 55px 0 60px;
  border-radius: 25px;

  width: 590px;
  height: 100px;
  box-shadow: 0 20px 30px -5px #fe000066;
}

.date-card {
  background-color: #1A2254;
  border-radius: 25px;
  font-size: 32px;
  color: #e4e4e4;
  font-weight: 500;
  text-align: center;

  padding: 15px 25px;
  margin: 0;
}

.date-card.today {
  background-color: #fe0000;
  color: #ffd700 !important;
}

.date-card.today .day-letter,
.date-card.today .day-number {
  color: #ffd700 !important;
}

.date-card .day-letter {
  font-size: 26px;
  font-weight: 500;
  color: #e4e4e466;
}

.date-card .day-number {
  font-size: 28px;
  font-weight: 500;
  color: #e4e4e4;
}

h3 {
  font-size: 30px;
  font-weight: 500;
  color: #e4e4e4;
  margin-top: 40px;
  margin-left: 45px;
}

.category-folder{
  margin-left: 60px;
  margin-top: 80px;
}

.card-info {
  position: relative;
  background-color: var(--card-color);
  border-radius: 25px;
  width: 100%;
  max-width: 550px;
  height: 100%;
  max-height: 250px;
  padding: 20px 30px;
}

#card-stack {
  position: relative;
  width: 550px;
  height: 250px;
  overflow: visible; /* allow peeking effect if needed */
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  font-weight: bold;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
  top: 0;
  left: 0;
  z-index: 0;
  transform-origin: center left;
  box-shadow: 0 10px 20px #050A2C;
}

/* Add horizontal offset for stacking */
#card-work {
  left: 0;
}
#card-learning {
  left: 20px;
}
#card-school {
  left: 40px;
}
#card-personal {
  left: 50px;
}

.card.active {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 215, 0, 0.6);
  z-index: 10 !important;
}


.task-category {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  z-index: 2;
}

.task-cat {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
  background-color: var(--card-color);
  width: 100%;
  max-width: 100px;
  height: 100%;
  max-height: 40px;
  padding: 5px 15px;

  top: -30px;
  left: 20px;

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  z-index: 2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


.task-cat.work {
  top: -30px;
  left: 40px;
}
.task-cat.learning {
  top: -35px;
  left: 80px;
}
.task-cat.school {
  top: -40px;
  left: 120px;
}
.task-cat.personal {
  top: -40px;
  left: 160px;
}


.task-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
  color: var(--text-color);
}

.total-tasks {
  width: 80px;
  height: 80px;
  border: 8px solid var(--text-color);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.total-tasks span {
  font-size: 36px;
  font-weight: 500;
  color: var(--text-color);
}

h2 span {
  font-size: 36px;
  font-weight: 500;
  margin-left: 15px;

  text-transform: capitalize;
}

.task-icon {
  width: 50px;
  height: 50px;
  margin-top: 0;
  position: absolute;
  display: block;
  right: 30px;
}

.progress-line {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.7rem;
}

label {
  min-width: 80px;
  font-size: 20px;
  font-weight: 500;
  color: #e4e4e4;
}

.progressbar-container {
  flex: 1;
  height: 10px;
  background-color: #050A2C;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.progress-fill {
  height: 100%;
  background-color: #ffd700; 
  width: 0%;
  transition: width 0.3s ease;
}

.progress-fill.pending {
  background-color: #fe0000;
}

.progress-line span {
  width: 40px;
  text-align: right;
  font-size: 20px;
  font-weight: 400;
  color: var(--text-color);
}

@keyframes fadeIn {
  from { opacity: 0; transform: scaleY(0.9); }
  to { opacity: 1; transform: scaleY(1); }
}

/*Profile*/
/*
.content {
  margin: 10% 5%;
  height: 1024px;

  z-index: 900;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile img {
  width: 200px;
  height: 200px;

  border-radius: 50%;
  box-shadow: 0 0 45px #fe0000;
}

.info-text {
  color: #ffffff;
  font-family: "Chakra Petch", sans-serif;
  width: 100%;
  max-width: 500px;
  height: auto;
}

.info-text h1 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 0;
}

.info-text h1 span {
  font-family: "Anton", sans-serif;
  color: #ffd700;
}

.info-text h2 span {
font-family: "Anton", sans-serif;
}

.info-text h2,
.typing {
  font-size: 30px;
  font-weight: 500;
  margin-top: 0;
}

.typing {
  font-style: italic;
  font-weight: 500;
  min-width: 280px;
}

.typing span {
  position: relative;
  margin: 0;
}

.typing span::before {
  content: 'Developer';
  color: #fe0000;
  animation: words 20s infinite;
}

.typing span::after {
  content: '';
  position: absolute;
  right: -8px;
  width: calc(100% + 8px);
  ;
  height: 100%;
  animation: cursor 0.6s infinite;
}

@keyframes cursor {
  to {
    border-right: 3px solid #fe0000;
  }
}

@keyframes words {

  0%,
  20% {
    content: 'Developer';
  }

  21%,
  40% {
    content: 'Graphic Designer';
  }

  41%,
  60% {
    content: 'Web Designer';
  }

  61%,
  80% {
    content: 'Programmer';
  }

  81%,
  100% {
    content: 'Digital Artist';
  }
}

.info-text p {
  font-size: 20px;
  width: 80%;
  height: auto;
  margin-bottom: 0;

  font-family: 'Chakra Petch', sans-serif;
  font-weight: 400;
  margin: 0;
}

.social-icons ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-icons ul li a {
  width: 80px;
  height: 80px;
  padding: 5px;
  margin: 10px 10px 0 0;
  
  border-radius: 50%;
  border: 4px solid #fe0000;
  background-color: transparent;

  transition: 0.3s ease;
}

.social-icons ul li a img {
  width: 40px;
  height: 40px;
}

.social-icons ul li a:hover {
  background-color: #ffd700;
  border: 3px solid #ffd700;
  box-shadow: 0 0 10px #ffd700;
  transform: scale(1.0) translateY(-5px);
}

.logo {
  display: flex;
  width: auto;
  height: 50px;
  z-index: 1000;
  top: 0%;
  margin-top: 10px;
}

.Spider-Man {
  position: absolute;
  z-index: 0;


  height: 40%;
  width: auto;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  left: 40%;
  transform: translateX(50%);
  top: 10px;
}
*/

/*Section To-Do List*/
.container {
  width: 100%;
  max-width: 800px;
  background-color: #050A2C;
  margin-top: 90px;
  padding: 20px;
  height: 100%;
  min-height: 100vh;
}

.header h1 {
  font-size: 70px;
  font-weight: 700;
  color: #ffff;
  margin-bottom: 10px;

  position: relative;
  z-index: 0;
}

.icon svg {
  position: absolute;
  left: 80%;
  top: 150px;
  transform: translateX(40%);
  z-index: 1;
  margin: 0;
}

.header h5 {
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 0;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
  margin-bottom: 20px;
}

.text-container {
  background-color: #e0e2f1;
  width: 480px;
  padding: 0 0 0 10px;

  border-radius: 80px;
  margin-bottom: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
}

#add-text{
  flex: 1;
  background: transparent;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 10px 10px 10px 30px;
  margin: 0 5px;
  border: none;
  outline: none;
  color: #050A2C;
}

#add-date {
  background-color: #050A2C;
  color: #fe0000;
  border: 3px solid #FE0000;
  border-radius: 40px;
  padding: 20px;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  margin-bottom: 5px;
}

.btn-container button {
  border: 3px solid #FE0000;
  outline: none;
  cursor: pointer;
  background-color: #050A2C;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
  color: #FE0000;
  padding: 15px 60px;
  font-size: 23px;
  border-radius: 40px;
}

.btn-container button:hover {
  border: 3px solid #FFD700;
  background-color: #FFD700;
  color: #FE0000;
  box-shadow: 0 0 20px #FFD700;
  transition: all 0.3s ease-in-out
}

#list-section {
  list-style: none;
}

#list-section li {
  flex: 1;
  font-size: 20px;
  font-weight: 400;
  background-color: #e0e2f1;
  border-radius: 30px;

  padding: 20px 70px 20px 20px;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 15px 10px 0;

  max-width: 700px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

#list-section li span {
  font-weight: normal;
  font-size: 1rem;
  color: #050A2C;
}

.time {
  position: absolute;
  display: block;
  bottom: 15px;
  right: 15px;
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
}

.date {
  flex: 1;
  font-size: 16px;
  margin-right: 20rem;
  margin-top: 15px;
  white-space: nowrap;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  gap: 15px;
}

.trash-btn {
  background: none;
  border: 3px solid #FE0000;
  border-radius: 10px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 25px;
  margin-right: 10px;
}

.trash-btn:hover {
  background-color: #FFD700;
  border: 3px solid #FFD700;
  box-shadow: 0 0 20px #FFD700;
}

.delete {
  background-color: #FFD700;
  border: 3px solid #FFD700;
  box-shadow: 0 0 20px #FFD700;
}

.checked-btn {
  position: absolute;
  display: block;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  cursor: pointer;
}

.completed {
  background: linear-gradient(145deg, #FE0000, #FFD700);
  color: #e0e2f1;
  transition: all 0.3s ease-in-out;
}

.completed .date,
.completed .time {
  color: e0e2f1;
}

.unchecked-btn {
  position: absolute;
  display: block;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  color: #FE0000;
  outline: none;
  cursor: pointer;
}

/*==================*/
.bar-container {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 130px;
  height: 650px;
  background-color: #FE0000;
  display: flex;
  justify-content: center;
  /* center horizontally */
  align-items: center;
  /* center vertically */
  border-top-left-radius: 70px;
}

.bar-container.close {
  height: 100px;
}

.toggle-div {
  position: absolute;
  top: 30px;
  right: 35px;
  z-index: 1000;
}

.open-toggle {
  display: block;
  background: none;
  border: none;
  outline: none;
}

.close-toggle {
  display: none;
  background: none;
  border: none;
  outline: none;
}

.toggle-open .open-toggle {
  display: none;
}

.toggle-open .close-toggle {
  display: block;
}

.calendar-toggle-div {
  position: absolute;
  top: 35rem;
  right: 35px;
  z-index: 1000;
}

.calendar-open-toggle {
  display: block;
  background: none;
  border: none;
  outline: none;
}

.bar-container.close .bar-contents {
  opacity: 0;
}

.items.active {
  background-color: #ffd700;
  color: #fe0000;
  transform: scale(1.3);
  transition: transform 0.3s ease;
}

.items:hover {
  background-color: #FFD700;
  color: #fe0000;
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.bar-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  position: relative;
}

.bar-contents li {
  list-style-type: none;
  margin-top: 20px;
}

.bar-contents li button {
  background: none;
  border: none;
  outline: none;
}

.bar-contents a {
  text-decoration: none;
}

.items {
  background-color: #050A2C;
  color: #fff;
  padding: 10px 15px;
  border-radius: 20px;
  width: 65px;
  height: 65px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  box-shadow: 0 8px 4px #050A2C33;
}

.items h2 {
  font-size: 26px;
}

/*Games*/
.hd-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  inset: 0;
}

.games-img {
  position: relative;
  width: 600px;
  height: 300px;
  background-image: url('Assets/spider-verse header.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  margin-top: 150px;
  margin-bottom: 50px;
  box-shadow: 0 20px 30px #fe000066;
}

.img-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 130px;
  background-color: #fe000066;
  color: #ffd700;
  border-radius: 25px;

  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.img-content h2 {
  font-family: "Anton", sans-serif;
  font-size: 36px;
}

.img-content h5 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
  margin-top: 5px;
}

.sudoku-info {
  background-color: #1A2254;
  color: #e4e4e4;
  border-radius: 25px;
  width: 600px;
  height: 150px;
  font-family: "Chakra Petch", sans-serif;

  margin-top: 0;
  padding: 25px;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sudoku-info h3 {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  width: 150px;  
}

.gm-btn button {
  background: transparent;
  border: none;
  outline: none;
  margin-top: 10px;

  font-size: 24px;
  color: #e4e4e4;
  text-transform: uppercase;
}

/* Sudoku Pop-Up */
:root {
  --bg-color: #1A2254;
  --color-txt: #e4e4e4;
  --filled-color: #050a2c66;
  --filled-bg: #050a2c;

  --white: #e4e4e4;
  --red: #fe0000;
  --yellow: #ffd700;

  --nav-size: 70px;
  --sudoku-cell-size: 50px;
  --border-radius: 25px;

  --space-y: 20px;
  
  --gap: 5px;
  --font-size: 1.5rem;
  --font-size-lg: 2rem;
  --font-size-xl: 3rem;

  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  list-style: none;
}

#games-screen {
  backdrop-filter: blur(5px);
}

.sudoku-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 800px;
  transform: translate(-50%, -50%);
  z-index: 1000;
  padding: 0;

  /* Optional backdrop effect */
  backdrop-filter: blur(8px);
  border-radius: var(--border-radius);  
}

#sudoku {
  width: 100%;
  height: 100%;
  border: 5px solid #fe0000;
  z-index: 1;
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  position: relative;
}

.gm-nav-container {
  position: absolute;
  width: 100%;
  max-width: 600px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  height: var(--nav-size);
  border-bottom: 3px solid var(--red);
  background-color: var(--bg-color);
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);

  top: 0;
  z-index: 99;
}

.spider {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--yellow);
  box-shadow: 0 0 8px var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
}

.spider button {
  background: none;
  border: none;
  outline: none;
}

.nav-logo {
  font-size: var(--font-size-lg);
  color: var(--white);
  text-transform: uppercase;
  font-weight: var(--bold);
}

.timer {
  font-size: var(--font-size-lg);
  color: var(--white);
}

.gm-main {
  height: 800px;
  padding: 65px 50px 60px 70px;
  display: grid;
  place-items: center;
}

.gm-screen {
  position: relative;
  overflow: hidden;
  max-height: 780px;
  height: 100%;
  min-width: 500px;
}

.gm-start-screen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: transform .3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.gm-start-screen.active {
  transform: translateX(0);
}

.gm-start-screen * {
  margin-top: 20px;
}

.gm-start-screen h2 {
  font-size: var(--font-size-lg);
  color: var(--white);
  margin-bottom: 30px;
  margin-top: 50px;
}

.diff,
#time {
  display: none;
  flex-direction: column;
  align-items: center;
}

.diff.active,
#time.active {
  display: flex;
}

#time h2 {
  text-align: center;
}

.divider {
  width: 100%;
  height: 3px;
  background-color: var(--filled-color);
  margin: 20px 0;
}

.btn {
  height: 80px;
  width: 300px;
  background-color: var(--filled-color);
  color: var(--white);
  border-radius: var(--border-radius);
  display: grid;
  place-items: center;
  font-size: var(--font-size);
  font-weight: var(--medium);
  transition: background-color .3s ease-in-out;
}

.btn.active,
.btn:hover {
  background-color: var(--filled-bg);
  color: var(--yellow);
}

.btn.btn-yellow {
  background-color: var(--yellow);
  color: var(--bg-color);
}

.btn.btn-yellow.active,
.btn.btn-yellow:hover {
  background-color: var(--red);
  color: var(--bg-color);
}

button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.main-game {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.main-game.slide-in {
  display: flex;
}

.main-game-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 20px 30px 20px 20px;
  height: var(--nav-size);
  margin-top: 10px;
  margin-bottom: 10px;
}

#board {
  display: grid;
  grid-template-columns: repeat(9, var(--sudoku-cell-size));
  grid-template-rows: repeat(9, var(--sudoku-cell-size));
  width: calc(var(--sudoku-cell-size) * 9);
  height: calc(var(--sudoku-cell-size) * 9);
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.main-grid-cell {
  border: 1px solid var(--color-txt);
  height: var(--sudoku-cell-size);
  width: var(--sudoku-cell-size);
  margin: 0;
  text-align: center;
  vertical-align: middle;
  font-size: var(--font-size);
  font-weight: var(--medium);
  color: var(--color-txt);
  background-color: var(--filled-color);
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-grid-cell:hover {
  background-color: var(--yellow);
  color: var(--bg-color);
}

.preset {
  background-color: var(--filled-bg);
  color: #e4e4e466;
}

p.selected {
  background-color: var(--filled-color);
  color: var(--yellow);
  
}

.rightBorder {
  border-right: 5px solid var(--red);
}

.bottomBorder {
  border-bottom: 5px solid var(--red);
}

#game-level {
  font-size: var(--font-size-lg);
  color: var(--white);
  font-weight: var(--bold);
  text-transform: uppercase;
  text-align: center;
  display: block;
}

#number-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  margin: 0 auto;
  max-width: 300px;
}

.number {
  height: var(--sudoku-cell-size);
  width: var(--sudoku-cell-size);
  border-radius: 10px;
  background-color: var(--filled-color);
  color: var(--color-txt);
  text-align: center;
  font-size: var(--font-size);
  cursor: pointer;
  font-weight: var(--medium);
  display: flex;
  align-items: center;
  justify-content: center;
}

.number.selected {
  background-color: var(--yellow);
  color: var(--bg-color);
}

.delete {
  background-color: var(--red);
  color: var(--white);
  height: var(--sudoku-cell-size);
  width: var(--sudoku-cell-size);
  border-radius: 10px;
  display: grid;
  place-items: center;
  font-size: var(--font-size);
  cursor: pointer;
  font-weight: var(--medium);
}

/*Calendar*/
.hidden {
  display: none;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 640px;
  background-color: #050A2C;
}

.calendar-header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  color: #fff;
}

#spider-btn .spider {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FFD700;
  box-shadow: 0 0 8px #FFD700;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spider-btn.spider {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  margin: 0 10px
}

.month-year {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin-left: 15px;
  
}

.month-year h1 {
  font-size: 40px;
  font-weight: 700;
}

.month-year p {
  font-size: 16px;
  font-weight: 400;
}

#spider-btn,
#prev,
#next {
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
  margin: 0 10px;
}

.weekdays {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px 20px;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  border-bottom: 2px solid #fff;

  text-transform: uppercase;
}

.weekdays div {
  flex: 1;
  text-align: center
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  width: 100%;
  padding: 15px 20px;
  color: #fff;
}

.days div {
  background-color: #1A1F55; 
  color: #e4e4e4;         
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.days div:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #fe0000;
}


.highlight {
  background-color: #fe0000 !important;
  color: #050A2C;
  border-radius: 10px;
  font-weight: 500;
}
